@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro|Lato:300,400,700,300italic,400italic,700italic|Source+Code+Pro|Rosario:400,400italic,700,700italic);
* {
  color: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: linear-gradient(#004b77, #2e8bc6);
  margin: 0;
  padding: 0;
}

html.scroll {
  overflow: scroll;
}

html.hidden {
  overflow: hidden;
}

body {
  margin: 0px;
  min-height: 100vh;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

main {
  width: 90vw;
}

footer {
  position: relative;
  margin-top: auto;
}

footer .trees img {
  width: 100%;
}

footer .tower {
  position: absolute;
  bottom: 0px;
  right: 10vw;
}

footer .tower img {
  width: 3vw;
}

h1, h2, h3 {
  font-weight: 700;
}

h1, h2, h3 {
  font-style: italic;
}

body {
  font-style: normal;
}

html {
  font-kerning: normal;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: 'Lato', sans-serif;
  color: white;
  font-size: 16.18px;
  font-size: 1.618rem;
}

h1, h2, h3 {
  font-family: 'Lato', sans-serif;
  letter-spacing: .06em;
}

h1 {
  font-size: 30px;
  font-size: 3rem;
  margin: 0.25em 0 0.75em 0;
  text-shadow: 4px 4px 4px #000;
}

code {
  font-family: 'Consolas', sans-serif;
  font-size: 1.0rem;
}

ul {
  font-size: 26.18px;
  font-size: 2.618rem;
}

dt {
  font-size: 26.18px;
  font-size: 2.618rem;
}

dd {
  padding-bottom: .75em;
}

p.note {
  padding: 2em 0;
}

.flex {
  display: flex;
  flex-wrap: wrap-reverse;
}

.flex pre {
  margin-top: 1em;
}

.flex pre.one {
  flex: 1 1 18em;
}

.flex pre.two {
  flex: 1 1 23em;
}

.flex pre .hljs {
  overflow: hidden;
}

.demo1 ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  line-height: 0;
}

.demo1 li {
  flex: 1 0 150px;
  box-sizing: border-box;
  margin: 10px;
  border: 3px solid #999;
  background-color: #fff;
}

.demo1 img {
  width: 100%;
  height: auto;
  padding: 5%;
}

.demo2 ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  line-height: 0;
  justify-content: space-around;
}

.demo2 li {
  flex: 0 1 150px;
  box-sizing: border-box;
  margin: 10px;
  border: 3px solid #999;
  background-color: #fff;
}

.demo2 img {
  width: 100%;
  height: auto;
  padding: 5%;
}

.demo3 ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  line-height: 0;
  align-items: center;
}

.demo3 li {
  flex: 1 0 150px;
  box-sizing: border-box;
  margin: 10px;
  border: 3px solid #999;
  background-color: #fff;
}

.demo3 img {
  width: 100%;
  height: auto;
  padding: 5%;
}

.demo4 section {
  border: solid 1px #554;
  color: black;
}

.demo4 main {
  width: 100%;
}

.demo4 header, .demo4 main, .demo4 footer {
  display: flex;
  flex-direction: column;
}

.demo4 section div {
  flex: 1;
  padding: 0.75em 0.25em;
  border: solid 1px #555;
}

@media all and (min-width: 600px) {
  .demo4 header {
    flex-direction: row;
  }
}

@media all and (min-width: 750px) {
  .demo4 main {
    flex-direction: row;
  }
}

@media all and (min-width: 900px) {
  .demo4 footer {
    flex-direction: row;
  }
}

.demo4 .a {
  background-color: #aaffff;
}

.demo4 .b {
  background-color: #aaaaff;
}

.demo4 .c {
  background-color: #ffaaff;
}

.demo4 .d {
  background-color: #ffaaaa;
}

.demo4 .e {
  background-color: #ffffaa;
}

.demo5 section {
  border: solid 1px #554;
  color: black;
  display: flex;
  flex-flow: row wrap;
}

.demo5 header {
  flex: 1 1 100%;
  padding: 0.75em 0.25em;
  border: solid 1px #555;
  background-color: #aaffff;
}

.demo5 aside {
  flex: 1 1 200px;
  padding: 0.75em 0.25em;
  border: solid 1px #555;
  background-color: #aaaaff;
}

.demo5 main {
  flex: 3 1 400px;
  padding: 0.75em 0.25em;
  border: solid 1px #555;
  background-color: #ffaaaa;
}

.demo5 footer {
  flex: 1 1 100%;
  padding: 0.75em 0.25em;
  border: solid 1px #555;
  background-color: #ffaaff;
}

.demo6 a {
  display: inline-block;
  width: 100%;
  padding: 1em;
  text-decoration: none;
  text-align: center;
}

.demo6 ul {
  border: 1px solid black;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  font-size: 80%;
  background: rgba(0, 0, 0, 0.25);
}

.demo6 li {
  width: 100%;
  border: 1px solid black;
}

.demo6 .icons {
  flex: 1 1 25%;
}

.demo6 pre.one {
  display: none;
}

@media all and (min-width: 500px) {
  .demo6 pre.one {
    display: block;
  }
  .demo6 ul {
    flex-wrap: wrap;
  }
  .demo6 li {
    flex: 1 1 50%;
  }
}

@media all and (min-width: 1000px) {
  .demo6 li {
    flex: 3;
  }
  .demo6 .icons {
    flex: 1;
  }
}

.demo6 .flex {
  display: flex;
  flex-wrap: wrap-reverse;
}

.demo6 pre {
  margin-top: 1em;
  justify-content: space-between;
}

.demo6 pre.one {
  flex: 1 1 18em;
}

.demo6 pre.two {
  flex: 1 1 23em;
}

.demo6 pre .hljs {
  overflow: hidden;
}

.demo7 .container {
  display: flex;
  height: 50vh;
  background-color: #dedede;
  position: relative;
}

.demo7 .main {
  flex: 1 0 0%;
  padding: 100px 40px 0px 40px;
  transition: flex-basis 2s;
  font-size: .7em;
  line-height: 1.75em;
  font-weight: 300;
  font-family: 'Lato', Frutiger, sans-serif;
  color: black;
}

.demo7 nav {
  overflow: hidden;
  flex: 0 1 0%;
  background-color: #aaa;
  padding-top: 4em;
  transition: flex-basis 2s;
}

.demo7 ul {
  list-style: none;
  padding: 0px;
}

.demo7 li {
  font-family: 'Lato', Frutiger, Arial, sans-serif;
  font-size: .4em;
  padding: 1em 40px;
  white-space: nowrap;
  border-bottom: 1px solid #777;
}

.demo7 li:first-child {
  border-top: 1px solid #777;
}

.demo7 a {
  color: #000099;
}

.demo7 .menu-label {
  position: absolute;
  top: 55px;
  left: 40px;
  font: 24px/20px "Segoe UI";
  cursor: pointer;
  color: #000099;
}

.demo7 .menu-checkbox {
  position: absolute;
  opacity: 0;
}

.demo7 .menu-checkbox:checked ~ nav {
  flex: 0 1 5em;
  transition: flex-basis 2s;
}

.demo7 pre {
  color: white;
  margin-top: 2em;
  background: rgba(0, 0, 0, 0.8);
}

.demo1a a {
  display: inline-block;
  width: 100%;
  padding: 1em;
  text-decoration: none;
  text-align: center;
}

.demo1a nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.demo1a ul {
  border: 1px solid black;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  font-size: 80%;
  background: rgba(0, 0, 0, 0.25);
}

.demo1a ul.links {
  flex: 1 1 40em;
  display: flex;
  flex-direction: column;
}

.demo1a ul.links li {
  flex: 1 0 8em;
}

.demo1a ul.icons {
  flex: 1 1 10em;
  display: flex;
  flex-direction: column;
}

.demo1a ul.icons li {
  flex: 1 0 4em;
}

.demo1a li {
  border: 1px solid black;
}

.demo1a .links li {
  flex: 1 1 25%;
}

.demo1a .icons li {
  flex: 1 1 25%;
}

.demo1a .flex {
  display: flex;
  flex-wrap: wrap-reverse;
}

.demo1a pre {
  margin-top: 1em;
  justify-content: space-between;
}

.demo1a pre.one {
  flex: 1 1 18em;
}

.demo1a pre.two {
  flex: 1 1 23em;
}

.demo1a pre .hljs {
  overflow: hidden;
}
