@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro|Lato:300,400,700,300italic,400italic,700italic|Source+Code+Pro|Rosario:400,400italic,700,700italic);
* {
  color: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: linear-gradient(#004b77, #2e8bc6);
  margin: 0;
  padding: 0;
}

html.scroll {
  overflow: scroll;
}

html.hidden {
  overflow: hidden;
}

body {
  margin: 0px;
  min-height: 100vh;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

main {
  width: 90vw;
}

footer {
  position: relative;
  margin-top: auto;
}

footer .trees img {
  width: 100%;
}

footer .tower {
  position: absolute;
  bottom: 0px;
  right: 10vw;
}

footer .tower img {
  width: 3vw;
}

h1, h2, h3 {
  font-weight: 700;
}

h1, h2, h3 {
  font-style: italic;
}

body {
  font-style: normal;
}

html {
  font-kerning: normal;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: 'Lato', sans-serif;
  color: white;
  font-size: 16.18px;
  font-size: 1.618rem;
}

h1, h2, h3 {
  font-family: 'Lato', sans-serif;
  letter-spacing: .06em;
}

h1 {
  font-size: 30px;
  font-size: 3rem;
  margin: 0.25em 0 0.75em 0;
  text-shadow: 4px 4px 4px #000;
}

code {
  font-family: 'Consolas', sans-serif;
  font-size: 1.0rem;
}

ul {
  font-size: 26.18px;
  font-size: 2.618rem;
}

dt {
  font-size: 26.18px;
  font-size: 2.618rem;
}

dd {
  padding-bottom: .75em;
}

.demo1 a {
  display: inline-block;
  width: 100%;
  padding: 1em;
  text-decoration: none;
  text-align: center;
}

.demo1 ul {
  border: 1px solid black;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  font-size: 80%;
  background: rgba(0, 0, 0, 0.25);
}

.demo1 li {
  width: 100%;
  border: 1px solid black;
}

.demo1 .icons {
  flex: 1 1 25%;
}

.demo1 pre.one {
  display: none;
}

@media all and (min-width: 500px) {
  .demo1 pre.one {
    display: block;
  }
  .demo1 ul {
    flex-wrap: wrap;
  }
  .demo1 li {
    flex: 1 1 50%;
  }
}

@media all and (min-width: 1000px) {
  .demo1 li {
    flex: 3;
  }
  .demo1 .icons {
    flex: 1;
  }
}

.demo1 .flex {
  display: flex;
  flex-wrap: wrap-reverse;
}

.demo1 pre {
  margin-top: 1em;
  justify-content: space-between;
}

.demo1 pre.one {
  flex: 1 1 18em;
}

.demo1 pre.two {
  flex: 1 1 23em;
}

.demo1 pre .hljs {
  overflow: hidden;
}

.demo2 ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  line-height: 0;
}

.demo2 li {
  flex: 1 0 150px;
  box-sizing: border-box;
  margin: 10px;
  border: 3px solid #999;
  background-color: #fff;
}

.demo2 img {
  width: 100%;
  height: auto;
  padding: 5%;
}

.demo2 .flex {
  display: flex;
  flex-wrap: wrap-reverse;
}

.demo2 pre {
  margin-top: 1em;
}

.demo2 pre.one {
  flex: 1 1 18em;
}

.demo2 pre.two {
  flex: 1 1 23em;
}

.demo2 pre .hljs {
  overflow: hidden;
}

.demo3 ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  line-height: 0;
  justify-content: space-around;
}

.demo3 li {
  flex: 0 1 150px;
  box-sizing: border-box;
  margin: 10px;
  border: 3px solid #999;
  background-color: #fff;
}

.demo3 img {
  width: 100%;
  height: auto;
  padding: 5%;
}

.demo3 .flex {
  display: flex;
  flex-wrap: wrap-reverse;
}

.demo3 pre {
  margin-top: 1em;
}

.demo3 pre.one {
  flex: 1 1 18em;
}

.demo3 pre.two {
  flex: 1 1 23em;
}

.demo3 pre .hljs {
  overflow: hidden;
}

.demo4 ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  line-height: 0;
  justify-content: space-around;
  align-items: center;
}

.demo4 li {
  flex: 1 1 150px;
  box-sizing: border-box;
  margin: 10px;
  border: 3px solid #999;
  background-color: #fff;
}

.demo4 img {
  width: 100%;
  height: auto;
  padding: 5%;
}

.demo4 .flex {
  display: flex;
  flex-wrap: wrap-reverse;
}

.demo4 pre {
  margin-top: 1em;
}

.demo4 pre.one {
  flex: 1 1 18em;
}

.demo4 pre.two {
  flex: 1 1 23em;
}

.demo4 pre .hljs {
  overflow: hidden;
}

.demo5 .container {
  display: flex;
  height: 50vh;
  background-color: #dedede;
  position: relative;
}

.demo5 .main {
  flex: 1 0 0%;
  padding: 100px 40px 0px 40px;
  transition: flex-basis 2s;
  font-size: .7em;
  line-height: 1.75em;
  font-weight: 300;
  font-family: 'Lato', Frutiger, sans-serif;
  color: black;
}

.demo5 nav {
  overflow: hidden;
  flex: 0 1 0%;
  background-color: #aaa;
  padding-top: 4em;
  transition: flex-basis 2s;
}

.demo5 ul {
  list-style: none;
  padding: 0px;
}

.demo5 li {
  font-family: 'Lato', Frutiger, Arial, sans-serif;
  font-size: .4em;
  padding: 1em 40px;
  white-space: nowrap;
  border-bottom: 1px solid #777;
}

.demo5 li:first-child {
  border-top: 1px solid #777;
}

.demo5 a {
  color: #000099;
}

.demo5 .menu-label {
  position: absolute;
  top: 55px;
  left: 40px;
  font: 24px/20px "Segoe UI";
  cursor: pointer;
  color: #000099;
}

.demo5 .menu-checkbox {
  position: absolute;
  opacity: 0;
}

.demo5 .menu-checkbox:checked ~ nav {
  flex: 0 1 5em;
  transition: flex-basis 2s;
}

.demo5 pre {
  color: white;
  margin-top: 2em;
  background: rgba(0, 0, 0, 0.8);
}
