* {
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  box-sizing: border-box;
}

html {
  background: linear-gradient(#004B77, #2E8BC6);
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  margin: 0px;
  padding: 0px;
  font-size: 0px;
  min-height: 100vh;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

section, header {
  display: flex;
}

section.flex-row, header.flex-row {
  flex-flow: row wrap;
}

section.flex-row div, header.flex-row div {
  width: 40%;
}

section.flex-row .axis, header.flex-row .axis {
  width: 40vw;
  z-index: -5;
  position: absolute;
  left: .75vw;
  top: 17vh;
}

@media screen and (aspect-ratio: 16/10) {
  section.flex-row .axis, header.flex-row .axis {
    width: 38vw;
    left: .5vw;
    top: 18vh;
  }
}

section.flex-row .axis img, header.flex-row .axis img {
  width: 100%;
}

section.flex-column, header.flex-column {
  flex-flow: column nowrap;
}

.slide ul {
  flex: 0 1 40%;
  border: 2px solid red;
  height: 55vh;
}

.slide ul.none {
  list-style: none;
}

.slide ul.none li {
  padding: .5em;
  color: black;
  font-size: 90%;
}

.slide ul.none li:nth-child(1n) {
  background-color: #aaffff;
}

.slide ul.none li:nth-child(2n) {
  background-color: #aaaaff;
}

.slide ul.none li:nth-child(3n) {
  background-color: #ffaaff;
}

.slide ul.none li:nth-child(4n) {
  background-color: #ffaaaa;
}

.slide ul.none li:nth-child(5n) {
  background-color: #ffffaa;
}

.slide ul.none li:nth-child(6n) {
  background-color: #aaffaa;
}

.slide.demo ul {
  border: none;
  height: inherit;
}

.slide.flex-row pre {
  flex: 0 1 52%;
  margin-left: auto;
}

.presentation {
  width: 80vw;
}

.footer {
  margin-top: auto;
}

.footer .trees {
  margin: 0;
  padding: 0;
}

.footer .trees img {
  margin: 0;
  padding: 0;
  width: 100%;
}

.footer .tower {
  position: absolute;
  bottom: 0px;
  right: 10vw;
}

.footer .tower img {
  width: 3vw;
}

code, pre, style, textarea, input {
  font-family: Consolas, 'Andale Mono', 'Courier New', monospace;
  background: rgba(0, 0, 0, 0.6);
}

code {
  padding: 0.2em 0.2em 0.1em;
  white-space: nowrap;
  border-radius: .2em;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 12px rgba(255, 255, 255, 0.15), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
}

pre, style, textarea {
  padding: 0.75em 0.75em;
  margin-left: -.1em;
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0.1em 0.1em 0.5em black inset;
}

pre > code {
  padding: 0;
  white-space: pre;
  border: 0;
  background: 0;
  box-shadow: none;
}

pre strong {
  text-shadow: 0 0 0.6em white;
}

.slide {
  padding: 0 5% 2%;
  background-clip: padding-box;
  color: white;
  margin: 0 auto;
}

.slide p.note {
  padding-top: 2.5em;
  letter-spacing: .02em;
}

#indicator {
  background: rgba(255, 255, 255, 0.6);
  color: black;
  text-shadow: 0.03em 0.03em 0.1em white;
}

/* Syntax highlighting */
.comment {
  color: #999;
}

.string {
  color: yellow;
}

.keyword {
  font-weight: bold;
  color: deeppink;
}

.number, .boolean {
  color: #0cf;
}

.regex {
  color: orange;
}

.tag {
  color: #f92672;
}

.punctuation {
  color: #f8f8f2;
}

.attr-name {
  color: #a6e22e;
}

.attr-value {
  color: #e6db74;
}

.selector {
  color: #a6e22e;
}

.property {
  color: #66d9ef;
}

.comment {
  font-size: 90%;
}
