@font-face {
  font-family: 'Lato';
  src: url("/fonts/Lato/Lato-Regular.eot"), url("/fonts/Lato/Lato-Regular.woff") format("woff"), url("/fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("/fonts/Lato/Lato-Italic.eot"), url("/fonts/Lato/Lato-Italic.woff") format("woff"), url("/fonts/Lato/Lato-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url("/fonts/Lato/Lato-Bold.eot"), url("/fonts/Lato/Lato-Bold.woff") format("woff"), url("/fonts/Lato/Lato-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("/fonts/Lato/Lato-BoldItalic.eot"), url("/fonts/Lato/Lato-BoldItalic.woff") format("woff"), url("/fonts/Lato/Lato-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

h1, h2, h3, strong, b {
  font-weight: bold;
}

h1, h2, h3 {
  font-style: italic;
}

.presentation {
  font-style: normal;
}

html {
  font-kerning: normal;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.presentation {
  font-family: 'Lato', sans-serif;
  color: white;
  font-size: 3.2vmin;
}

h1, h2, h3 {
  font-family: 'Lato', sans-serif;
  letter-spacing: .06em;
}

#intro {
  text-align: center;
}

#intro h1 {
  font-size: 9.953vmin;
  text-shadow: 4px 4px 4px #000;
}

#intro h2 {
  font-size: 3rem;
  margin-bottom: 1em;
}

#intro p {
  font-size: 2.5rem;
  line-height: 4rem;
}

h1 {
  font-size: 7vmin;
  text-shadow: 4px 4px 4px #000;
  margin: 0.25em 0 0.75em 0;
  flex: 0 0 100%;
}

h2 {
  font-size: 4.608vmin;
  text-shadow: 2px 2px 2px #000;
  margin: 0.25em 0px;
  flex: 0 0 100%;
}

dl dt {
  font-size: 2em;
  text-shadow: 2px 2px 1px #000;
}

dl dd {
  padding-bottom: .75em;
  margin-left: 2em;
  font-size: 1.4em;
}

textarea.live {
  flex: 0 1 52%;
  margin-left: auto;
  font-size: 95%;
}

code {
  font-size: 1.6rem;
  line-height: 1.6rem;
}
