p.note { padding: 2em 0; }
.flex {
  display: flex;
  flex-wrap: wrap-reverse;
  pre {
    &.one {flex: 1 1 18em;}
    &.two { flex: 1 1 23em;}
    margin-top: 1em;
      .hljs { overflow: hidden; }
  }
}


.demo1 {
  ul {
    list-style: none;
    display:flex;
    flex-wrap: wrap;
    line-height: 0;
  }
  li {
    flex:  1 0 150px;
    box-sizing: border-box;
    margin: 10px;
    border: 3px solid #999;
    background-color: #fff;
  }
  img {
    width: 100%;
    height: auto;
    padding: 5%;
  }
 //  .flex {
 //    display: flex;
 //    flex-wrap: wrap-reverse;
 //  }
 //  pre {
 //    &.one {flex: 1 1 18em;}
 //    &.two { flex: 1 1 23em;
 //    }margin-top: 1em;
 //   .hljs { overflow: hidden; }
 // }
}

.demo2 {
  ul {
    list-style: none;
    display:flex;
    flex-wrap: wrap;
    line-height: 0;
    justify-content: space-around;
  }
  li {
    flex: 0 1 150px;
    box-sizing: border-box;
    margin: 10px;
    border: 3px solid #999;
    background-color: #fff;
  }
  img {
    width: 100%;
    height: auto;
    padding: 5%;
  }
 //  .flex {
 //    display: flex;
 //    flex-wrap: wrap-reverse;
 //  }
 //  pre {
 //    &.one {flex: 1 1 18em;}
 //    &.two { flex: 1 1 23em;
 //    }margin-top: 1em;
 //   .hljs { overflow: hidden; }
 // }
}

.demo3 {
  ul {
    list-style: none;
    display:flex;
    flex-wrap: wrap;
    line-height: 0;
    align-items: center;
  }
  li {
    flex: 1 0 150px;
    box-sizing: border-box;
    margin: 10px;
    border: 3px solid #999;
    background-color: #fff;
  }
  img {
    width: 100%;
    height: auto;
    padding: 5%;
  }
 //  .flex {
 //    display: flex;
 //    flex-wrap: wrap-reverse;
 //  }
 //  pre {
 //    &.one {flex: 1 1 18em;}
 //    &.two { flex: 1 1 23em;
 //    }margin-top: 1em;
 //   .hljs { overflow: hidden; }
 // }
}

.demo4 {
  section { border: solid 1px #554;
    color: black;}
  main { width: 100%; }

  header, main, footer {
    display: flex;
    flex-direction: column;
  }
  section div {
    flex: 1;
    padding: .75em .25em;
    border: solid 1px #555;
  }
  @media all and ( min-width: 600px ) {
    header { flex-direction: row; }
  }
  @media all and ( min-width: 750px ) {
    main { flex-direction: row; }
  }
  @media all and ( min-width: 900px ) {
    footer { flex-direction: row; }
  }

  .a {background-color: #aaffff;}
  .b {background-color: #aaaaff;}
  .c {background-color: #ffaaff;}
  .d {background-color: #ffaaaa;}
  .e {background-color: #ffffaa;}
}

.demo5 {
  section { border: solid 1px #554;
    color: black;}
  main { width: 100%; }

  header, main, footer {
    display: flex;
    flex-direction: column;
  }
  section div {
    flex: 1;
    padding: .75em .25em;
    border: solid 1px #555;
  }
  .content {
    order: -1;
  }
  @media all and ( min-width: 600px ) {
    header { flex-direction: row; }
  }
  @media all and ( min-width: 750px ) {
    main { flex-direction: row; }
    .content {order: 0;}
  }
  @media all and ( min-width: 900px ) {
    footer { flex-direction: row; }
  }

  .a {background-color: #aaffff;}
  .b {background-color: #aaaaff;}
  .c {background-color: #ffaaff;}
  .d {background-color: #ffaaaa;}
  .e {background-color: #ffffaa;}
}

.demo6 {
  section {
    border: solid 1px #554;
    color: black;
    display: flex; flex-flow: row wrap;
  }

  header {
    flex: 1 1 100%;
    padding: .75em .25em;
    border: solid 1px #555;
    background-color: #aaffff;
  }
  aside {
    flex: 1 1 200px;
    padding: .75em .25em;
    border: solid 1px #555;
    background-color: #aaaaff;
  }
  main {
    flex: 3 1 400px;
    padding: .75em .25em;
    border: solid 1px #555;
    background-color: #ffaaaa;
  }
  footer {
    flex: 1 1 100%;
    padding: .75em .25em;
    border: solid 1px #555;
    background-color: #ffaaff;
  }
}

.demo7 {
  a {
    display: inline-block;
    width: 100%;
    padding: 1em;
    text-decoration: none;
    text-align: center;
  }
  ul {
    border:1px solid black;
    list-style: none;
    display:flex;
    flex-wrap: wrap;
    font-size: 80%;
    background: rgba(0,0,0,.25);
  }
  li {
    width: 100%;
    border: 1px solid black;
  }
  .icons { flex: 1 1 25%; }
  pre.one {display: none;}
  @media all and (min-width: 500px) {
    pre.one {display: block;}
    ul { flex-wrap: wrap; }
    li { flex: 1 1 50%; }
  }
  @media all and (min-width: 1000px) {
    li { flex:3; }
    .icons { flex:1; }
  }

  .flex {
    display: flex;
    flex-wrap: wrap-reverse;
  }
  pre {
    &.one {flex: 1 1 18em;}
    &.two { flex: 1 1 23em;
    }margin-top: 1em;
    justify-content: space-between;
   .hljs { overflow: hidden; }
 }
}

.demo8 {
  .container {
    display: flex;
    height: 50vh;
    background-color: #dedede;
    position: relative;
  }
  .main {
    // flex: 1;
    flex: 1 0 0%;
    padding: 100px 40px 0px 40px;
    transition: flex-basis 2s;
    font-size: .7em;
    line-height: 1.75em;
    font-weight: 300;
    font-family: 'Lato', Frutiger, sans-serif;
    color: black;
  }
  nav {
    overflow: hidden;
    // flex-basis: 0;
    flex: 0 1 0%;
    background-color: #aaa;
    padding-top: 4em;
    transition: flex-basis 2s;
  }
  ul {
    list-style: none;
    padding: 0px;
  }
  li {
    font-family: 'Lato', Frutiger, Arial, sans-serif;
    font-size: .4em;
    padding: 1em 40px;
    white-space: nowrap;
    border-bottom: 1px solid #777;
    &:first-child {
      border-top: 1px solid #777;
    }
  }
  a { color: #000099; }
  .menu-label {
    position: absolute;
    top: 55px;
    left: 40px;
    font: 24px/20px "Segoe UI";
    cursor: pointer;
    color: #000099;
  }
  .menu-checkbox {
    position: absolute;
    opacity: 0;
    &:checked ~ nav {
      // flex-basis: 5em;
      flex: 0 1 5em;
      transition: flex-basis 2s;
    }
  }
  pre {
    color: white;
    margin-top: 2em;
    background: rgba(0, 0, 0, 0.8);
  }
}

.demo9 {

  section {
    width: 80%;
    margin: 0 10%;
  }

  h3 {
    border-bottom: 1px solid #ccc;
    margin: 40px 0;
  }
  .note {
    font-size: 60%;
    color: #bbb;
  }

  .abs {
    position: relative;
    .note {
      position: absolute;
      bottom: 2px;
      right: 0;
    }
  }

  .float {
    .note {
      float: right;
      position: relative;
      top: 12px;
    }
  }


  .flex {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    > span {
      white-space: nowrap;
    }
    .main {
      flex-grow: 1;
    }
  }
}


.demo1a {
  a {
    display: inline-block;
    width: 100%;
    padding: 1em;
    text-decoration: none;
    text-align: center;
  }
  nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  ul {
    border:1px solid black;
    list-style: none;
    display:flex;
    flex-wrap: wrap;
    font-size: 80%;
    background: rgba(0,0,0,.25);
    &.links {
      flex: 1 1 40em;
      display: flex;
      flex-direction: column;
      li { flex: 1 0 8em; }
    }
    &.icons {
      flex: 1 1 10em;
      display: flex;
      flex-direction: column;
      li { flex: 1 0 4em; }
    }
  }
  li {
    // width: 100%;
    border: 1px solid black;
  }
  .links li {
    flex: 1 1 25%;
  }
  .icons li { flex: 1 1 25%; }
  // pre.one {display: none;}
  // @media all and (min-width: 500px) {
  //   pre.one {display: block;}
  //   ul { flex-wrap: wrap; }
  //   li { flex: 1 1 50%; }
  // }
  // @media all and (min-width: 1000px) {
  //   .links li { flex:3; }
  //   .icons li { flex:1; }
  // }

  .flex {
    display: flex;
    flex-wrap: wrap-reverse;
  }
  pre {
    &.one {flex: 1 1 18em;}
    &.two { flex: 1 1 23em;
    }margin-top: 1em;
    justify-content: space-between;
   .hljs { overflow: hidden; }
 }
}
