.presentation ~ .footer .killroy {
  position: absolute;
  bottom: -40px;

  z-index: -10;
  animation-fill-mode: forwards;
}

.presentation ~ .footer #goggles {
  left: 5vw;
  animation: goggles 36s infinite;
  position: absolute;
  bottom: -30px;
  z-index: -10;
  animation-fill-mode: forwards;
}

.presentation ~ .footer #dries {
  left: 5vw;
  animation: dries 36s infinite;
  position: absolute;
  bottom: -55px;
  z-index: -10;
  animation-fill-mode: forwards;
}
