@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro|Lato:300,400,700,300italic,400italic,700italic|Source+Code+Pro|Rosario:400,400italic,700,700italic);

%light { font-weight: 300; }
%regular { font-weight: 400; }
%bold { font-weight: 700; }
%italic { font-style: italic; }
%normal { font-style: normal; }

@mixin title-face {
  font-family: 'Lato', sans-serif;
  @extend %bold;
  @extend %italic;
}

@mixin normal-face {
  font-family: 'Lato', sans-serif;
  @extend %normal;
}

// $base-font-size: 10px;
// $rem-ratio: $base-font-size / 1rem;

// @mixin rem($size) {
//   $base-font-size: 10px !default;
//   @if (unitless($size)) {
//     $size: $size * 1px;
//   }
//   font-size: $size;
//   font-size: ($size / $base-font-size) * 1rem;
// }

$intro-vmin: 9.953vmin;
$title-vmin: 6.912vmin;
$big-vmin: 5.76vmin;
$med-vmin: 4.8vmin;
$small-vmin: 4vmin;


html {
  font-kerning: normal; // Set the default for kerning
  font-synthesis: none; // Don't allow the font to create sythetic bold/italic
  text-rendering: optimizeLegibility; // Improve kerning pairs. Caution: Webkit gets funny with this sometimes
  -webkit-font-smoothing: antialiased;
}

.presentation {
  @include normal-face;
  color: white;
  // @include rem(16.18);
  font-size: $small-vmin;
}

h1, h2, h3 {
  @include title-face;
  letter-spacing: .06em;
}

#intro {
  text-align: center;
  // h1 { @include rem(68.53); text-shadow: 4px 4px 4px #000; }
  h1 { font-size: $intro-vmin; text-shadow: 4px 4px 4px #000; }
  // h2 { @include rem(42.36); }
  h2 { font-size: $title-vmin; margin-bottom: 1em;}
  // p  { @include rem(26.18); }
  p { font-size: $med-vmin; }
}

h1 {
  font-size: $title-vmin;
  text-shadow: 4px 4px 4px #000;
  margin: .25em 0 .75em 0;
  flex: 0 0 100%;
  // height: 2em;
  }

h2 {
  font-size: $big-vmin;
  text-shadow: 2px 2px 2px #000;
  margin: .25em 0px;
  flex: 0 0 100%;
  // height: 2em;
  }

strong, b {
  @extend %bold;
}

dl {
  dt {
    font-size: $big-vmin;
    text-shadow: 2px 2px 1px #000;

  }
  dd {
    padding-bottom: .75em;
    margin-left: 2em;
    font-size: $small-vmin;
  }
}


textarea.live {
  flex: 0 1 45%;
  margin-left: auto;
}


style[scoped][contenteditable].example {
  display: block;
  white-space: pre;
}
